---
import Badge from '../components/Badge.astro';
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<main>
		<h1 class="text-white">Hola, soy Sandev<Badge>Disponible para trabajar</Badge></h1>
		<h2>+1 ano de experiencia. Desarrollador web, de Cajica, Colombia. 
			Especializado en crear aplicaciones unicas.
		</h2>



	</main>
</Layout>
